.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.footer-top{
    display: flex;
    /* justify-content:space-around; */
    flex-direction: column;
    gap:50px;
}

.footer-top-info p{
    font-size: 18px;
    /* max-width: 400px; */
 } 
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
}
.footer-links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.footer-links a:hover{
    text-decoration: underline;
    color: wheat;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    font-size: 18px;

}
@media (max-width:1028px){
    .footer{
    margin: 40px 140px;
    gap:20px;
}
.footer-top{
    gap:40px;
}
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top-info p{
        font-size: 15px;
        margin-top: 5px;
    }
    .footer-links a{
        font-size: 18px;
    }
    .footer-bottom{
        font-size: 15px;
    }
   
}
 @media(max-width:468px){
    .footer{
        margin: 30px 50px;
    }

}